*{
  box-sizing: border-box;
}

html,body{
  height: 50%;
  margin: 0;
  background-color: #E0F0F9;
}

h1 {

	color:blue;
	font-size:50px;
	text-align:center;
	margin: 0;
	padding:0 0;

}



.outer{	
  background-color: #E0F0F9;
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 10px;
}

.expand{
  flex: 1;
}

textarea{
  height: 50%;
  width: 100%;
}

.center {
  margin: 0 auto;
  padding:15px 32px;
}

