<html >
<head>               
<meta charset="UTF-8">
<title>Output</title>                                     
</head>
<body style="background-color: #E0F0F9" > 
<div class="wrapper" style="width:100%;height: 100%">
	<div class="ex1" style="background-color: #E0F0F9; font-family: Arial;font-size: 10pt;width: 80%; height:90%;overflow: scroll; float: left;
	 margin-right: 0.5%">
		<h1 style = "color:blue;font-size: 16pt"><center>The JD Content</center></h1>
		<br><br>{{data|safe }}</div>
	 <div class="ex2" style="background-color: #E0F0F9;width: 19.50%; height:90%;overflow: scroll; 
	 margin-right: 0px">
		 <h1 style = "color:blue;font-size: 16pt"><center>The Replacement Word</center></h1>
		 <br><br>
		 <table align="center">
			{{table_data|safe }}
		 </table>
	 </div>      

	</div><br>   

</body>           
</html>